<h1>Covid-19 Financial Solidarity</h1>

<h2>Requesters</h2>

<p>If your livelihood is being impacted by the Coronavirus crisis and
  you need support, post requests here.</p>

<p>You can also view offers of non-monetary assistance and reach out
  to the people making them.</p>

<h2>Helpers</h2>

<p>If you are a white-collar employee working from home and still
  being paid your full salary, help fulfill the requests
  here. <strong>Give generously:</strong> the only way to earn what
  you have, is to give it away.</p>

<p>Also please consider listing any non-monetary assistance you are
  able to offer!</p>

<h2>Contact</h2>

<p>You can email the organizers of this project
  at <a href="mailto:covidmutualaid@gmail.com">covidmutualaid@gmail.com</a>.</p>
